p #{message}

table(cellspacing='0', cellpadding='0', border='0')
  tbody
    tr
      td(colspan='2', style='width:225pt;padding:0;', width='375')
        div(style='margin:0 0 10.5pt 0;')
          font(face='Calibri,sans-serif', size='3')
            span(style='font-size:12pt;')
              font(face='Helvetica', size='2', color='#444444')
                span(style='font-size:10pt;')
                  b Igo Lapa
              font(face='Helvetica', color='#444444')
                br
              font(face='Helvetica', size='2', color='#888888')
                span(style='font-size:9pt;') Senior Front-End Developer
    tr
      td(style='width:36pt;padding:15pt 0 0 0;', width='60')
        table(style='width:36pt;', width='60', cellspacing='0', cellpadding='0', border='0')
          tbody
            tr(style='height:18pt;', height='30')
              td(style='width:18pt;height:18pt;background-color:#6E716E;padding:0;', width='30')
                span(style='background-color:#6E716E;')
              td(style='width:18pt;height:18pt;background-color:#F7C635;padding:0;', width='30')
                span(style='background-color:#F7C635;')
            tr(style='height:18pt;', height='30')
              td(style='width:18pt;height:18pt;background-color:#F7C635;padding:0;', width='30')
                span(style='background-color:#F7C635;')
              td(style='width:18pt;height:18pt;background-color:#D5D4CF;padding:0;', width='30')
                span(style='background-color:#D5D4CF;')
      td(style='width:195pt;padding:15pt 0 0 9pt;', width='325')
        div(style='margin:0;')
          font(face='Calibri,sans-serif', size='3')
            span(style='font-size:12pt;')
              font(face='Helvetica', size='2', color='#444444')
                span(style='font-size:10pt;')
                  b Tribal Worldwide London
              font(face='Helvetica', size='2', color='#444444')
                span(style='font-size:9pt;')
                  br
                  |  12 Bishops Bridge Rd, W2 6AA
        div(style='margin:0 0 0 0.75pt;')
          font(face='Calibri,sans-serif', size='3')
            span(style='font-size:12pt;')
              a(href='http://www.tribalworldwide.co.uk/', target='_blank', rel='noopener noreferrer')
                font(face='Helvetica', size='2')
                  span(style='font-size:9pt;')
                    font(color='#444444')
                      b tribalworldwide.co.uk
    tr
      td(colspan='2', style='width:225pt;padding:15pt 0 0 0;', width='375')
        div(style='margin:0;')
          font(face='Calibri,sans-serif', size='3')
            span(style='font-size:12pt;')
              font(face='Helvetica', size='1', color='#ADADAD')
                span(style='font-size:7.5pt;')
                  | The information given in the above email and / or attachment is provided without warranty
                  | of any kind, either expressed or implied on the part of the writer or the Agency.
